/* navbar */
.navbar-default {
    background-color: #6D8496;
    border-color: #3A4A49; /*F2727D*/
}

body {
    padding-top: 5rem;
    background-color: #EFE5DC;
}

.footer {
    background-color: #9A9174;
}
  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
  
code {
    font-size: 80%;
}
  