a+a {
    margin-left: 10px;
  }
  
/* navbar */
.navbar-custom {
    background-color: #6D8496;
    border-color: #3A4A49;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000000;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #000000;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown:hover .dropdown-menu {display: block !important;}

.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:hover{background-color: #F2727D !important;}
body {
    padding-top: 5rem;
    background-color: #EFE5DC;
}

.body > .container{
    padding: 3px;
}

.footer {
    background-color: #9A9174;
}
  
.footer > .container {
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
}
  
code {
    font-size: 80%;
}

.background {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: auto;
    background-color: #687E8C;
}

.background img{
    width: 100%;
}
