#title {
    text-align: center;
    margin: 20px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

@media (min-width: 768px) {
    .left{
      width: 35%
    }
    .right{
      width: 65%
    }
}

#project_title{
    color: rgb(54, 70, 126);
}

#project_org{
    text-align: left;
    color: rgb(98, 126, 226);
    padding: 0px;
    margin: 0px;
}