a+a {
    margin-left: 10px;
  }

#title {
    text-align: center;
    margin: 20px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

@media (min-width: 768px) {
    .left{
      width: 35%
    }
    .right{
      width: 65%
    }
}

#project_title{
    color: rgb(54, 70, 126);
    display: inline;
    padding: 2rem 2rem;
    margin: 1.5rem;
}

#project_org{
    text-align: left;
    color: rgb(98, 126, 226);
    padding: 0px;
    margin: 0px;
}

.panel-group .card .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}

.panel-group .card .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    font-family: 'FontAwesome';  
    content: "\f067"; 
    float: right;
}